<p id="notice"><%= notice %></p>

<div id="user_programs">
  <h3><strong>My Programs:</strong></h3>
  <% if @user.programs.empty? %>
    <p>You don't have any programs yet! <%= link_to 'Add a new program', new_user_program_path(current_user) %></p>
  <% else %>
    <ul>
      <% @user.programs.each do |program| %>
      <% end %>
    </ul>
  <% end %>
</div>


<%= link_to 'Change Password', edit_user_password_path(@user) %> |
<%= link_to 'Log Out', destroy_user_session_path %>
